<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">CS50 Compare</a>
        </div>
    </div>
</div>
<div id="navbar-border-wrapper"><img id="navbar-border" src="/img/bottom-border.png" /></div>
