@mixin border-radius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}

@mixin border-corner-radius($tl, $tr, $br, $bl) {
    border-top-left-radius: $tl;
    -webkit-border-top-left-radius: $tl;
    -moz-border-radius-topleft: $tl;
    border-top-right-radius: $tr;
    -webkit-border-top-right-radius: $tr;
    -moz-border-radius-topright: $tr;
    border-bottom-right-radius: $br;
    -webkit-border-bottom-right-radius: $br;
    -moz-border-radius-bottomright: $br; 
    border-bottom-left-radius: $bl;
    -webkit-border-bottom-left-radius: $bl;
    -moz-border-radius-bottomleft: $bl;
}

@mixin box-shadow($value) {
    -moz-box-shadow: #{$value};
    -webkit-box-shadow: #{$value};
    box-shadow: #{$value};
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: $value;    /* Firefox, other Gecko */
    box-sizing: $value;         /* Opera/IE 8+ */
}

@mixin opacity($value) {
    opacity: $value;
    -webkit-opacity: $value;
    -moz-opacity: $value;
    -khtml-opacity: $value;
}

@mixin background-linear-gradient($direction, $first, $second, $iefirst:"", $iesecond:"") {
    background-image: -moz-linear-gradient($direction, $first, $second);
    background-image: -ms-linear-gradient($direction, $first, $second);
    background-image: -webkit-linear-gradient($direction, $first, $second);
    background-image: -o-linear-gradient($direction, $first, $second);
    background-image: linear-gradient($direction, $first, $second);
    @if $iefirst != "" {
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#{$iefirst}',endColorstr='#{$iesecond}',GradientType=0);
    }
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -ms-user-select: $value;
    -moz-user-select: $value;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/league-gothic/League_Gothic-webfont.eot');
    src: url('fonts/league-gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/league-gothic/League_Gothic-webfont.woff') format('woff'),
    url('fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'),
    url('fonts/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

input {
    &:-moz-placeholder {
        color: #a1a1a1;
    }
}

#navbar-border {
    min-width: 1535px;
    width: 100%;
    vertical-align: top;
}

#navbar-border-wrapper {
    position: absolute;
    height: 4px;
    top: 55px;
    z-index: 500;
    width: 100%;
    overflow: hidden;
}

.navbar-inner {
    border-radius: 0px;
    background-color: #FEFEFE;
    height: 55px;
    background-image: none;
    @include box-shadow(none);
    filter: none;
}

.navbar {
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 0px solid #DDD;
    
    .brand {
        color: #333;
        font-size: 28px;
        letter-spacing: -1px;
        line-height: 55px;
        padding: 0px 0px 0px 15px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
    }
    
    .account-menu {
        height: 36px;
        margin: 0px;
        z-index: 502;

        &:hover {
            b.caret {
                opacity: 1;
            }

            .dropdown-menu {
                display: block;
            }
        }
    }

    .suite.account-menu, .user.account-menu {
        padding: 10px 10px 10px 15px;
    }
    
    .product.account-menu {
        padding: 10px 0px 10px 300px; 
        margin-left: -300px;  
    }

    .suite.account-menu {
        border-right: 1px solid #EEE;
    }

    .suite.dropdown-menu {
        right: -9px;
        a {
            text-align: right;
        }
    }

    .user.dropdown-menu {
        right: -14px;
    }

    .product.dropdown-menu, .suite.dropdown-menu, .user.dropdown-menu {
        background-color: #FEFEFE;
        border: none;
        min-width: 100px;
        top: 45px;
        @include border-radius(0px);

        &::before {
            display:none;
        }

        &::after {
            display:none;
        }

        li {
            a {
                padding: 0px 18px 3px 22px;
            }

            &:hover > a {
                background-color: #F1F1F1;
                color: #333;
            }
        }
    }

    .dropdown-brand {
        color: #333;
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 30px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;

        img {
            height: 14px;
            margin-top: 9px;
            margin-right: 6px;
            vertical-align: top;
        }
    }

    .nav .dropdown-toggle .caret {
        border-top-color: black !important;
        border-bottom-color: black !important;
    }
}

.navbar-inner .container-fluid .account-menu {
    .dropdown .dropdown-toggle .login-text {
        color: #333;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        text-shadow: none;
    }
}

.content-wrapper-outer {
    top: 55px;
    z-index: 1;
    overflow-y: hidden;
}

.brand {
    margin-left: -35px !important;
}

.right-menu-wrapper {
    margin-right: -35px;
}

.login-text { 
    color: #DDD;
}

// fix bootstrap's fucking stupid dropdown implementation
.btn-group .dropdown-menu li {
    @include user-select(none);
    cursor: pointer;

    // seriously, wtf
    a {
        cursor: pointer;
    }
}

.icon-download-file, .icon-pdf, .icon-zip {
        width: 16px;
        height: 16px;
        background-position: 0px 0px;
        margin-right: 3px;
}


.icon-pdf {
    background-image: url("/css/lib/php_tree/images/pdf.png");
}

.icon-zip {
    background-image: url("/css/lib/php_tree/images/zip.png");
}

.icon-download-file {
    background-image: url("/css/lib/php_tree/images/file.png");
}

#error-wrapper {
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -270px;
    z-index: -1;

    h1 {
        font-family: 'LeagueGothicRegular';
        font-size: 56px;
        font-weight: normal;
    }
}

.icon-unchecked {
    background-image: url("/img/icon-unchecked.png");
    background-position: 0px 1px;
}

.success-banner {
    position: fixed;
    width: 500px;
    height: 38px;
    top: -100px;
    left: 50%;
    margin-left: -250px;
    background-color: #FFFCA9;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
    @include border-radius(0px 0px 3px 3px);
    z-index: 9000;

    .success-banner-dismiss {
        position: absolute;   
        top: 0px;
        right: 0px;
        padding: 10px;
        font-size: 24px;
        line-height: 13px;
        color: #999;
        cursor: pointer;

        &:hover {
            color: #555;
        }
    }

    .success-banner-body {
        text-align: center;
        margin: 5px;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 0px 1px 0px white;
    }
}

.panel {
    text-align: left;
    background-color: #FFFFFF;
    border-top: 1px solid #DDD;
    @include border-radius(4px);
    @include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 3px);
}
