@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("fonts/league-gothic/League_Gothic-webfont.eot");
  src: url("fonts/league-gothic/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/league-gothic/League_Gothic-webfont.woff") format("woff"), url("fonts/league-gothic/League_Gothic-webfont.ttf") format("truetype"), url("fonts/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

input:-moz-placeholder {
  color: #a1a1a1; }

#navbar-border {
  min-width: 1535px;
  width: 100%;
  vertical-align: top; }

#navbar-border-wrapper {
  border-top: 1px solid #ccc;
  position: absolute;
  height: 4px;
  top: 55px;
  z-index: 500;
  width: 100%;
  overflow: hidden; }

.navbar-inner {
  border-radius: 0px;
  background-color: #FEFEFE;
  height: 55px;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: none; }

.navbar {
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 0px solid #DDD; }
  .navbar .brand {
    color: #333;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 55px;
    padding: 0px 0px 0px 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 0px white; }
  .navbar .account-menu {
    height: 36px;
    margin: 0px;
    z-index: 502; }
    .navbar .account-menu:hover b.caret {
      opacity: 1; }
    .navbar .account-menu:hover .dropdown-menu {
      display: block; }
  .navbar .suite.account-menu, .navbar .user.account-menu {
    padding: 10px 10px 10px 15px; }
  .navbar .product.account-menu {
    padding: 10px 0px 10px 300px;
    margin-left: -300px; }
  .navbar .suite.account-menu {
    border-right: 1px solid #EEE; }
  .navbar .suite.dropdown-menu {
    right: -9px; }
    .navbar .suite.dropdown-menu a {
      text-align: right; }
  .navbar .user.dropdown-menu {
    right: -14px; }
  .navbar .product.dropdown-menu, .navbar .suite.dropdown-menu, .navbar .user.dropdown-menu {
    background-color: #FEFEFE;
    border: none;
    min-width: 100px;
    top: 45px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; }
    .navbar .product.dropdown-menu::before, .navbar .suite.dropdown-menu::before, .navbar .user.dropdown-menu::before {
      display: none; }
    .navbar .product.dropdown-menu::after, .navbar .suite.dropdown-menu::after, .navbar .user.dropdown-menu::after {
      display: none; }
    .navbar .product.dropdown-menu li a, .navbar .suite.dropdown-menu li a, .navbar .user.dropdown-menu li a {
      padding: 0px 18px 3px 22px; }
    .navbar .product.dropdown-menu li:hover > a, .navbar .suite.dropdown-menu li:hover > a, .navbar .user.dropdown-menu li:hover > a {
      background-color: #F1F1F1;
      color: #333; }
  .navbar .dropdown-brand {
    color: #333;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle; }
    .navbar .dropdown-brand img {
      height: 14px;
      margin-top: 9px;
      margin-right: 6px;
      vertical-align: top; }
  .navbar .nav .dropdown-toggle .caret {
    border-top-color: black !important;
    border-bottom-color: black !important; }

.navbar-inner .container-fluid .account-menu .dropdown .dropdown-toggle .login-text {
  color: #333;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-shadow: none; }

.content-wrapper-outer {
  top: 55px;
  z-index: 1;
  overflow-y: hidden; }

.brand {
  margin-left: -35px !important; }

.right-menu-wrapper {
  margin-right: -35px; }

.login-text {
  color: #DDD; }

.btn-group .dropdown-menu li {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  cursor: pointer; }
  .btn-group .dropdown-menu li a {
    cursor: pointer; }

.icon-download-file, .icon-pdf, .icon-zip {
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  margin-right: 3px; }

.icon-pdf {
  background-image: url("/css/lib/php_tree/images/pdf.png"); }

.icon-zip {
  background-image: url("/css/lib/php_tree/images/zip.png"); }

.icon-download-file {
  background-image: url("/css/lib/php_tree/images/file.png"); }

#error-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -270px;
  z-index: -1; }
  #error-wrapper h1 {
    font-family: 'LeagueGothicRegular';
    font-size: 56px;
    font-weight: normal; }

.icon-unchecked {
  background-image: url("/img/icon-unchecked.png");
  background-position: 0px 1px; }

.success-banner {
  position: fixed;
  width: 500px;
  height: 38px;
  top: -100px;
  left: 50%;
  margin-left: -250px;
  background-color: #FFFCA9;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  z-index: 9000; }
  .success-banner .success-banner-dismiss {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 24px;
    line-height: 13px;
    color: #999;
    cursor: pointer; }
    .success-banner .success-banner-dismiss:hover {
      color: #555; }
  .success-banner .success-banner-body {
    text-align: center;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 1px 0px white; }

.panel {
  text-align: left;
  background-color: #FFFFFF;
  border-top: 1px solid #DDD;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px; }
